<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>


{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  <hr>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    {% if publication.link %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}
    <!-- <div class="publication-authors">{{ publication.authors }}</div> -->
    <div class="publication-authors">
      {% assign authors = publication.authors | split: ',' %}
      {% for author in authors %}
        {% if author contains '정은' or author contains 'Eun Jung' %}
        <span style="background-color: rgba(244, 218, 210, 0.7); padding: 2px; text-decoration: underline;">{{ author }}</span>
        {% else %}
          {{ author }}
        {% endif %}
        {% unless forloop.last %}, {% endunless %}  <!-- Add comma between authors, except after the last one -->
      {% endfor %}
    </div>
    
    <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
