html, body {
  height: 100%;
}

body {
  max-width: $content-width;
  font-family: $base-font-family;
  margin: 0 auto;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $body-bg;
  padding: 2em 1em;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


a {
  color: $brand-color;
  text-decoration: none;
  &:hover{
    color: $text-color;

    @media (prefers-color-scheme: dark) {
      color: $text-color-dark;
    }

  }
}



p a {
  color: $text-color;
  text-decoration: none;
  background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: -moz-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
  background: linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

  -webkit-box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
  box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);


  -webkit-transition: box-shadow ease 1s;
  -moz-transition: box-shadow ease 1s;
  transition: box-shadow ease 1s;
  &:hover {
    color: lighten($background-color, 50%);
    -webkit-box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
    box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);

  }

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;
    
  @include media-query($on-palm) {
    font-size: 2em;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 1em;
}

/* Horizontal scrolling navbar. From: https://is.gd/WuJxqy */
// .scroll {
//   white-space: nowrap;
//   overflow-x: auto;
//   -webkit-overflow-scrolling: touch;
//   -ms-overflow-style: -ms-autohiding-scrollbar; 
// }

// .scroll::-webkit-scrollbar {
//   display: none; }

.site-category{
  // background: $brand-color;
  // border-top: 1px solid $border-color;
  margin:auto;
  padding:0;
  font-size:20px;
  text-align: left;
  clear:left;
  }

.site-category ul{
  // background: rgb(109,109,109);
  height: 35px;
  list-style:none;
  line-height: 1.5;
  margin:0 auto;
  padding:0;
  display:inline-block;
  }

.site-category li{
  float: left;
  display:inline;
  }

.site-category li a{
  // background: $brand-color;
  display:block;
  font-weight:normal;
  line-height:50px;
  margin:0px;
  padding:0px 10px;
  text-align:center;
  text-decoration:none;
  }

.site-category li a:hover{
  // background: rgb(71,71,71);
  color:black;
  text-decoration:none;
  }

.site-category li ul{
  background: white;
  display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:200px;
  z-index:200;
  /*top:1em;
  /*left:0;*/
  }

.site-category li:hover ul{
  display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
  }

.site-category li li {
  // background: $brand-color;
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:200px;
  }

.site-category li:hover li a{
  background:none;
  }

.site-category li ul a{
  display:block;
  height:50px;
  font-size:12px;
  font-style:normal;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
  }

.site-category li ul a:hover, .menubar li ul li:hover a{
  // background: rgb(71,71,71);
  border:0px;
  color: black;
  text-decoration:none;
  }

 