.toc-title {
  font-size: 16px;
  text-align: left;
}

.toc-div {

  // position: -webkit-sticky !important;
  // position: sticky !important;
  // top: calc(110px) !important; 
  position: absolute;
  right: 0px;
  width: 240px;
  // color: #9075aa;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 0px;
  font-size: 0.7rem;
  border-left: 2px solid #e0d9e7;

}

.toc,
.toc ul {
  font-size: 12px;
  list-style: none;
  padding: 0;
}

.toc {

  max-height: 80vh;
  overflow-y: auto;

  a.active {
    color:  rgb(119, 0, 0);
  }

  a {
    display: block;
    text-decoration: none;

    color: var(--oc-gray-6);

    &:hover,
    &:focus {
      font-weight: bold;
      color: rgb(214, 12, 12) !important;
    }
  }

  // indentations 

  li > a {
    padding-left: .5em;
  }
  ul li > a {
    padding-left: 1.5em;
  }
  ul li ul li > a {
    padding-left: 2.5em;
  }
  ul li ul li ul li > a {
    padding-left: 3em;
  }
  ul li ul li ul li ul li > a {
    padding-left: 3.5em;
  }
}
@media only screen and (max-width: 100%) {
  h3.toc-title {
    text-align: center;
  }
  .toc {
    padding-left: 15px !important;
  }
}


// .toc {
//   position: absolute;
//   right: 0px;
//   width: 240px;
//   color: #9075aa;
//   overflow-y: auto;
//   overflow-x: hidden;
//   padding-left: 0.75rem;
//   padding-right: 0.75rem;
//   padding-top: 0.25rem;
//   padding-bottom: 0.25rem;
//   margin-right: 0px;
//   font-size: 0.7rem;
//   border-left: 2px solid #e0d9e7;

//   display: none;
//   @media (min-width: 75em){
//     width: 240px;
//     display: block;
//   }
//   @media (min-width: 85em){
//     width: 300px;
//     display: block;
//   }
//   @media (min-width: 95em){
//     width: 360px;
//     display: block;
//   }

//   a.toc-active {
//     font-weight: bold; 
//     transition: all 0.125s ease-in 0s; 
//     font-size: 0.75rem;
//     color: #9075aa;
//   }

//   ul {
//     list-style-type: none;
//     margin-bottom: 0.1rem;
//     padding-left: 0rem;
//     li {
//       padding-left: .5rem;
//     }
//   }

//   a {
//       color: #9075aa;
//       text-decoration: none;
//   }
 
//   a:hover {
//      color:#9075aa;
//   }
// }